#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
}

#menu{
    float: right;

}

#login-info{
    float: left;
}

#menu .menu1{
    float: left;
    position: relative;
}
#header .icon-gouwuchekong{
    color:#FF0036;

}
#header .icon-msnui-tel{
    color:#FF0036;

}
#header .icon-shuanglieliebiao{
    color:#FF0036;

}
#header a{
    padding: 0 14px;
}

#header a, #login-info span{
    color: #999;
}

#header a:hover{
    color: #FF0036;
}
#menu .traingle::after{
    content: "";
    width: 0px;
    border: 3px solid;
    border-bottom-color: transparent;
    border-top-color: #FF0036;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -1px;
    margin-right: -30px;
    transition: none;
    transform-origin: 3px 1.5px;
}
#menu .traingle:hover::after{
    transform: rotate(180deg) ;
    transition: all 0.5s ease;
}
#menu  .secondmenu{
    position: absolute;
    width: 100px;
    top: 32px;
    left: -1px;
    display: none;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #ccc;

}
#menu .traingle{
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: transparent;


}
#menu .traingle:hover{
    border-style: solid;
    border-color: #cccccc;
    background: #fff;
}

#menu .traingle:hover .secondmenu{
    display: block;
    background: #fff;

}
.menu1 .qr-code{
    width: 175px;
    height: 227px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    display: none;
    position: absolute;
}
.menu1 .qr-code::after{
    display: block;
}
#logo-search{
    height: 135px;
}

#logo-search .logo {
    float: left;

}
.logo img{
    width: 240px;
}

.search-box {
    border: 2px solid;
    border-color: #FF0036;
    border-width: 2px;
}
 .search-box input{
     width: 483px;
     height: 26px;
     border: 0px;
     outline: none;
     text-indent: 5px;

}
 .search-box button{
     width: 132px;
     height: 36px;
     background: #FF0036;
     color: #fff;
     border: 0px;
     font-weight: bold;
     font-size: 14px;
 }
#logo-search .search{
    float: left;
}
 .hot {
    float: left;
    border-right: 10px solid;
    border-top: 10px;
    border-width: 1px;
    color: #cccccc;
}
.search .hot-query ul{
    margin-top: 10px;
}
.search .hot a{
    color: #cccccc;
}
.search .highlight a{
    color: #FF0036;
}

.search .last {
    border-right: transparent;
}
.search{
    margin-top: 50px;
    margin-left: 100px;
}
#inner .category{
    margin-left: 65px;
}
#inner .category li{
    float: left;
    line-height: 30px;
    padding: 0px;

}

#inner .category .nav img{
    width: 100px;
    height: 30px;
}
#inner .category .nav a{
    color: #333333;
    height: 30px;

}

#inner .category-list .list a{
    color: #fff;
}

#inner .category .box{
    background: #FF0036;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    width: 240px;
    margin-left:-50px;
    padding: 2px 0px 2px 0px;
}
#inner .category .box a{
    color: #fff;
}
#inner .category .box .box1{
    background: #494949;
    padding: 2px 0px 2px 0px;
}
#pic-box{
    height: 500px;
    background: url(img/mainpic.webp) no-repeat center;
    position: relative;
    z-index: -1;

}
