.fuwu-bg, .kehu-bg, .team-bg {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
.kehu-bg {
    background-image: url("img/kehu-bg.jpg");
}
.h-h2 {
    font-size: 24px;
    line-height: 150%;
    color: #000;
    background-image: url("img/t-xian.gif");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 22px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 26px
}