<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    .red{
        background: #d5d;
    }
</style>
</head>
<body>
    <div id="container"  class="text-center">
    <div id="header">
        <h1>todolist</h1>
        <hr>
    </div>
        <form class="form-inline">
            <div class="form-group">
                <label for="商品名称" >商品名称</label>
                <input v-model.trim="name" type="text" class="form-control" id="商品名称">
            </div>
            <div class="form-group">
                <label for="商品价格" >商品价格</label>
                <input v-model.number="price" type="email" class="form-control" id="商品价格" >
            </div>
            <button type="submit" class="btn btn-default" @click="add">添加</button>
        </form>
        <br>
        <form class="form-inline">
            <div class="form-group">
                <label for="查询">搜索</label>
                <input type="email" class="form-control" id="查询" v-model="key">
            </div>
            <button type="submit" class="btn btn-default" @click="search">查询</button>
        </form>
        <br>
        <table class="table table-bordered">
            <thead class="text-center">
            <tr class="success" >
            <td>选中</td>
            <td>商品名称</td>
            <td>商品价格</td>
            <td>删除</td>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr v-for="(product,index) in proList" @click="select(product)" :class="product.isRed? 'red' : '' ">
                <td >
                    <input @click.stop type="checkbox" v-model="selectlist" :value="index">
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button type="button" class="btn btn-info glyphicon glyphicon-remove-sign btn-xs" @click="kill" ></button>
                </td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary btn-xs" @click="deleteitem">删除选中</button></td>
                <td colspan="3">总价：{{total}}</td>
            </tr>

            </tbody>


        </table>

</div>
<script src="vue.js"></script>
<script>
    new Vue({
        el:"#container",
        data: {
            proList:[
                {
                    name: "手机",
                    price: 5000,
                    isRed:false
                },
                {
                    name: "电脑",
                    price: 8000,
                    isRed:false
                },
                {
                    name: "ipad",
                    price: 3000,
                    isRed:false
                },
                {
                    name: "耳机",
                    price: 2000,
                    isRed:false
                },
                {
                    name: "手表",
                    price: 1500,
                    isRed:false
                }
            ],
            selectlist:[],
            name:"",
            price:0,
            key:""
        },
        methods:{
            select(product){
                product.isRed = ! product.isRed
            },
            deleteitem(){
                this.proList = this.proList.filter((elem,index) => {
                    if (!this.selectlist.includes(index)) {
                        return elem;
                    }
                });
                this.selectlist = [];

            },
            kill(index){
                this.proList.splice(index,1)
            },
            add(){
                this.proList.push({
                    name : this.name,
                    price : this.price,
                    isRed : false

                })

            },
            search(){
                this.proList = this.proList.filter(function (elem,index) {
                    if (elem.name.includes(this.key)){
                        return elem;
                    }

                }.bind(this))


            }

        },
        computed:{
            total(){
                let sum = 0;
                this.proList.forEach(elem => {
                    if (elem.isRed) {
                        sum += elem.price;

                    }

                })
                return sum
            }
        }
    })





</script>
    
</body>
</html>